build "--workspace_status_command=/bin/bash -c 'if [ -x ./.bin/workspace_status ]; then ./.bin/workspace_status; fi'"
common --enable_bzlmod --registry=file:///%workspace%/registry --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main/
