build "--workspace_status_command=./.bin/workspace_status"
common --experimental_enable_bzlmod --registry=file:///%workspace%/registry --registry=https://raw.githubusercontent.com/bazelbuild/bazel-central-registry/main/
