[diff "doc"]
textconv = bin/_docdump
binary = true

[diff "binary"]
textconv = hexdump -v -C
binary = true

[diff "pdf"]
textconv = bin/_pdfdump
binary = true

[diff "zip"]
textconv = bin/_zipdump
binary = true
